body {
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
}
#twitter {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
#tw-cont {
  margin-top: -190px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgba(37, 205, 218, 0.8);
}
#github {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#gh-cont {
  margin-top: 2px;
  width: 50px;
  margin-left: 5px;
  height: 50px;
  border-radius: 25px;
}
#linkedin {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#li-cont {
  margin-top: 3px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
#insta {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#in-cont {
  margin-top: 3px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
#facebook {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

#f-cont {
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
img:hover {
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 4px 4px 4px rgba(0, 140, 186, 0.5);
}
#msg {
  margin-top: 200px;
  margin-left: 680px;
  margin-right: 20px;
  width: 650px;
  height: 150px;
}
#msg1 {
  margin-top: 2px;
  text-align: right;
  margin-left: -100px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f3ec78;
  background-image: linear-gradient(90deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  background-size: 100%;
  background-clip: text;
  -moz-background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-shadow: 6px 0 8px rgba(59, 18, 209, 0.3);
}
#msg2 {
  text-align: right;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-right: 20px;
  background-color: #f3ec78;
  background-image: linear-gradient(90deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  background-size: 100%;
  background-clip: text;
  -moz-background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-shadow: 6px 0 8px rgba(59, 18, 209, 0.3);
}

#nav {
  margin-top: -45px;
  height: 120px;
  background-color: #4158d0;
  background-image: linear-gradient(90deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-size: 100% 400px;
  border-bottom: 1px solid rgb(196, 199, 184);
  border-radius: 0 0 15px 15px;
}
#nam {
  font-family: "Pacifico", cursive;
  margin-left: 40%;
  padding-top: 30px;

  background-color: #f3ec78;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);

  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation: namanim 1s infinite;
}
@keyframes namanim {
  100% {
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  }
  99% {
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  }
  60% {
    background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  }
  49% {
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  }
  0% {
    background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
  }
}
#profile {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-top: -50px;
  box-shadow: 4px 4px 7px rgba(35, 171, 224, 0.5);
  border: 1px solid rgb(196, 199, 184);
}
#profile:hover {
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.2) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 10px 10px 4px rgba(0, 140, 186, 0.5);
}

@media screen and (max-width: 1080px) {
  #nam {
    margin-left: 20%;
    font-size: 40px;
  }
  #msg {
    margin-left: 0px;
    padding: 0px;
    width: 100%;
  }
  #msg1 {
    margin-top: 2px;
    text-align: right;
    margin-left: -100px;
    margin-right: 1px;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    animation: text-blink 3s infinite;
    font-size: 25px;
  }
  #msg2 {
    text-align: right;
    margin-right: -5px;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-right: 20px;
    animation: text-blinki 3s infinite;
    font-size: 25px;
  }
}
